ul,
a {
    text-decoration: none;
    list-style: none;
}

/* header{} */

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.hero {
    margin: 0 auto
}

.hero__container {
    display: flex;
    align-items: center;
    gap: 19px;
}

.hero__info {
    max-width: 261px;
}

.hero__title {
    color: rgb(11, 19, 42);
    font-family: sans-serif;
    font-size: 23.49px;
    font-weight: 700;
    line-height: 32.89px;
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
}

.hero__text {
    color: rgb(79, 86, 101);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 400;
    line-height: 14.09px;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 71px;
}

/* .header__logo-sika{} */

.header__logo {
    width: 70px;
    height: 17px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 18px;
}

/* .header__item{} */

.header__silka {
    color: rgb(79, 86, 101);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 400;
    line-height: 14.09px;
    margin: 0;
    margin-bottom: 23px;
    padding: 0;
}

.hero__btn {
    border: 0.5px solid transparent;
    border-radius: 4.7px;
    background: rgb(245, 56, 56);
}

.btn__text {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 700;
    line-height: 11.75px;
    padding: 036px;
}

.hero__photo {
    width: 287px;
    height: 180px;
    line-height: 9px;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 14px;
}

.In {
    border: 1px solid transparent;
    background-color: transparent;
    color: rgb(11, 19, 42);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 500;
    line-height: 9px;
}

.Up {
    box-sizing: border-box;
    border: 1px solid rgb(245, 56, 85);
    border-radius: 23.49px;
    color: rgb(245, 56, 85);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 500;
    line-height: 9px;
    width: 70px;
    height: 21px;
    background-color: transparent;
}

.list {
    max-width: 536px;
    display: flex;
    align-items: center;
    border-radius: 4.7px;
    background: rgb(255, 255, 255);
}

.item {
    max-width: 177px;
    display: flex;
    align-items: center;
    gap: 17px;
}

.person {
    width: 26px;
    height: 26px;
}

/* .box{} */

.box__title {
    color: rgb(11, 19, 42);
    font-family: sans-serif;
    font-size: 11.75px;
    font-weight: 700;
    line-height: 14.09px;
    margin: 0;
    padding: 0;
}

.box__text {
    color: rgb(79, 86, 101);
    font-family: sans-serif;
    font-size: 9.4px;
    font-weight: 400;
    line-height: 14.09px;
    margin: 0;
    padding: 0;
}

.list__layn {
    margin: 0;
    width: 59px;
    height: 0;
    transform: rotate(90deg);
    border: 0.94px solid rgb(238, 239, 242);
}

/* .choose__container{} */

.choose__titke {
    color: rgb(11, 19, 42);
    font-family: sans-serif;
    font-size: 16.44px;
    font-weight: 500;
    line-height: 23.49px;
    text-align: center;
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
}

.choose__text {
    color: rgb(79, 86, 101);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 400;
    line-height: 14.09px;
    text-align: center;
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
}

/* .choose__list{} */

.choose__item {
    width: 155px;
    box-sizing: border-box;
    border: 0.94px solid rgb(221, 221, 221);
    border-radius: 4.7px;
    background: rgb(255, 255, 255);
}

.box-suprays {
    width: 68px;
    height: 78px;
}