ul,
a {
    text-decoration: none;
    list-style: none;
}

/* header{} */

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.hero {
    margin: 0 auto
}

.hero__container {
    display: flex;
    align-items: center;
    gap: 19px;
}

.hero__info {
    max-width: 261px;
}

.hero__title {
    color: rgb(11, 19, 42);
    font-family: sans-serif;
    font-size: 23.49px;
    font-weight: 700;
    line-height: 32.89px;
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
}

.hero__text {
    color: rgb(79, 86, 101);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 400;
    line-height: 14.09px;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 71px;
}

/* .header__logo-sika{} */

.header__logo {
    width: 70px;
    height: 17px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 18px;
}

/* .header__item{} */

.header__silka {
    color: rgb(79, 86, 101);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 400;
    line-height: 14.09px;
    margin: 0;
    margin-bottom: 23px;
    padding: 0;
}

.hero__btn {
    border: 0.5px solid transparent;
    border-radius: 4.7px;
    background: rgb(245, 56, 56);
}

.btn__text {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 700;
    line-height: 11.75px;
    padding: 036px;
}

.hero__photo {
    width: 287px;
    height: 180px;
    line-height: 9px;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 14px;
}

.In {
    border: 1px solid transparent;
    background-color: transparent;
    color: rgb(11, 19, 42);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 500;
    line-height: 9px;
}

.Up {
    box-sizing: border-box;
    border: 1px solid rgb(245, 56, 85);
    border-radius: 23.49px;
    color: rgb(245, 56, 85);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 500;
    line-height: 9px;
    width: 70px;
    height: 21px;
    background-color: transparent;
}

.list {
    max-width: 536px;
    display: flex;
    align-items: center;
    border-radius: 4.7px;
    background: rgb(255, 255, 255);
}

.item {
    max-width: 177px;
    display: flex;
    align-items: center;
    gap: 17px;
}

.person {
    width: 26px;
    height: 26px;
}

/* .box{} */

.box__title {
    color: rgb(11, 19, 42);
    font-family: sans-serif;
    font-size: 11.75px;
    font-weight: 700;
    line-height: 14.09px;
    margin: 0;
    padding: 0;
}

.box__text {
    color: rgb(79, 86, 101);
    font-family: sans-serif;
    font-size: 9.4px;
    font-weight: 400;
    line-height: 14.09px;
    margin: 0;
    padding: 0;
}

.list__layn {
    margin: 0;
    width: 59px;
    height: 0;
    transform: rotate(90deg);
    border: 0.94px solid rgb(238, 239, 242);
}

/* .choose__container{} */

.choose__titke {
    color: rgb(11, 19, 42);
    font-family: sans-serif;
    font-size: 16.44px;
    font-weight: 500;
    line-height: 23.49px;
    text-align: center;
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
}

.choose__text {
    color: rgb(79, 86, 101);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 400;
    line-height: 14.09px;
    text-align: center;
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
}

.choose__list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.choose__item {
    width: 155px;
    box-sizing: border-box;
    border: 0.94px solid rgb(221, 221, 221);
    border-radius: 4.7px;
    background: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
}

.box-suprays {
    width: 68px;
    height: 78px;
}

.home {
    box-sizing: border-box;
    padding: 37px 32px 23px;
}

.info {
    max-width: 89px;
    flex-direction: column;
    justify-content: center;
}

.info__title {
    color: rgb(11, 19, 42);
    font-family: sans-serif;
    font-size: 8.46px;
    font-weight: 500;
    line-height: 14.09px;
    text-align: center;
    margin: 14px auto;
}

.info__list {
    max-width: 89px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 61px;

}

/* .info__item{} */

.item__text {
    display: flex;
    align-items: center;
    gap: 9px;
    color: rgb(79, 86, 101);
    font-family: sans-serif;
    font-size: 6.58px;
    font-weight: 400;
    line-height: 14.09px;
    text-align: left;
    margin: 0;
    padding: 0
}


.item__text::before {
    width: 11px;
    height: 11px;
    display: block;
    content: '';
    background-image: url('../img/white-galochki.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .btn{} */

.btn__title {
    color: rgb(11, 19, 42);
    font-family: sans-serif;
    font-size: 11.75px;
    font-weight: 500;
    line-height: 14.09px;
    text-align: center;
}

.btn__btn {
    background: transparent;
    box-sizing: border-box;
    border: 0.94px solid rgb(245, 56, 56);
    border-radius: 23.49px;
}

.btn__btn-text {
    color: rgb(245, 56, 56);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 700;
    line-height: 9px;
    padding: 0 30px;
}

.text {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 7.52px;
    font-weight: 700;
    line-height: 9px;
    text-align: left;
    padding: 0 30px;
}

.bt {
    border-radius: 23.49px;
    background: rgb(245, 56, 56);
}

.border {
    box-sizing: border-box;
    border: 0.94px solid rgb(245, 56, 56);
    border-radius: 4.7px;
    background: rgb(255, 255, 255);
}

.pmf__container {
    margin-top: 49px;
    display: flex;
    align-items: flex-start;
    gap: 79px;
}

.pmf__img {
    width: 238px;
    height: 198px;
}

.pmf__box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.pmf__title {
    margin-bottom: 4px;
    color: rgb(11, 19, 42);
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.pmf__text {
    margin: 0;
    color: rgb(79, 86, 101);
    font-family: sans-serif;
    font-size: 7px;
    font-weight: 400;
    line-height: 14px;
}

.pmf__list {
    margin: 0;
    padding-inline-start: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 7px;
}

.pmf__item {
    display: flex;
    align-items: center;
    gap: 2px;
}

.pmf__galochka {
    width: 11px;
    height: 11px;
}

.pmf__info {
    color: rgb(79, 86, 101);
    font-family: sans-serif;
    font-size: 6px;
    font-weight: 400;
    line-height: 14px;
}

.map-and-logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.map-and-logo__box {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 73px;
}

.map-and-logo__title {
    margin-bottom: 7px;
    color: rgb(11, 19, 42);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
}

.map-and-logo__text {
    color: rgb(79, 86, 101);
    font-family: sans-serif;
    font-size: 7px;
    font-weight: 400;
    line-height: 14px;
}

.map-and-logo__img {
    width: 498px;
    height: 252px;
    margin-bottom: 51px;
}

.map-and-logo__list {
    display: flex;
    align-items: center;
    gap: 22px;
}

/* .map-and-logo__item{} */

/* .map-and-logo__logo{} */

.futer__container {
    margin-left: 273px;
    display: flex;
    align-items: center;
    gap: 177px;
}

.futer__box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.futer__title {
    margin-bottom: 7px;
    color: rgb(11, 19, 42);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.futer__info {
    color: rgb(79, 86, 101);
    font-family: sans-serif;
    font-size: 7px;
    font-weight: 400;
    line-height: 14px;
}

.futer__btn {
    border-radius: 4.7px;
    border: 1px solid transparent;
    background: rgb(245, 56, 56);
    width: 117px;
    height: 28px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 7px;
    font-weight: 700;
    line-height: 11px;
}